/* text-css */

.animate-container {
    position: relative;
    /* text-align: center; */
    color: rgb(0, 0, 0);
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 180px;
    left: 60px;
  }
  /* Bottom right text */
.bottom-right {
    text-align: end;
    position: absolute;
    bottom: 180px;
    right: 60px;
  }

.animate-text {
    opacity: 0;
transform: translateY(100%);
animation: fadeInUp 1s ease-in-out forwards; 
}

@keyframes fadeInUp {
    to {
    opacity: 1;
transform: translateY(0); 
} 
}

/* Adjust the delay for each line */
.animate-text:nth-child(2) {
    animation-delay: 1s; 
}

.animate-text:nth-child(3) {
    animation-delay: 2s; 
}

.animate-text:nth-child(4) {
    animation-delay: 3s; 
}

.animate-text:nth-child(5) {
    animation-delay: 4s; 
}


/* line css */

.line {
    color:  #FFA01B;
    cursor: pointer;
    position: relative;
  }
  
  .line:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0px;
    left: 0px;
    transform: scaleX(0);
    background: #FFA01B ;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  /* <a href="https://ibb.co/YWZsMb6"><img src="https://i.ibb.co/z5JvYN1/Grapefruit.png" alt="Grapefruit" border="0"></a>
<a href="https://ibb.co/sqH4mMN"><img src="https://i.ibb.co/YhZSRq1/Grapes.png" alt="Grapes" border="0"></a>
<a href="https://ibb.co/cc4xBkw"><img src="https://i.ibb.co/8D1XCNb/group-all-fruits-3.png" alt="group-all-fruits-3" border="0"></a>
<a href="https://ibb.co/qrV9hpM"><img src="https://i.ibb.co/4V3MCpZ/Guava.png" alt="Guava" border="0"></a>
<a href="https://ibb.co/LRftd09"><img src="https://i.ibb.co/JtP7jcr/Kiwi.png" alt="Kiwi" border="0"></a>
<a href="https://ibb.co/86MGwKc"><img src="https://i.ibb.co/f4MZW1v/Kiwifruit.png" alt="Kiwifruit" border="0"></a>
<a href="https://ibb.co/FWFdKXQ"><img src="https://i.ibb.co/kytPxJL/Longan.png" alt="Longan" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/F50Bynm/Lychee.png" alt="Lychee" border="0"></a>
<a href="https://ibb.co/Tc7xzGn"><img src="https://i.ibb.co/8MfLFwR/mango.png" alt="mango" border="0"></a>
<a href="https://ibb.co/6NY0bVK"><img src="https://i.ibb.co/HX7TY1c/Nectarine.png" alt="Nectarine" border="0"></a>
<a href="https://ibb.co/SfhcLC1"><img src="https://i.ibb.co/GHK9hS1/orange-1.png" alt="orange-1" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/NKLgMgw/orrange.png" alt="orrange" border="0"></a>
<a href="https://ibb.co/VTggnrS"><img src="https://i.ibb.co/6FHH9VP/Papaya.png" alt="Papaya" border="0"></a>
<a href="https://ibb.co/tC3mTq2"><img src="https://i.ibb.co/cTxgS68/Peach.png" alt="Peach" border="0"></a>
<a href="https://ibb.co/bFQbscS"><img src="https://i.ibb.co/RNYj3Rx/Pear.png" alt="Pear" border="0"></a>
<a href="https://ibb.co/Rgpnr7D"><img src="https://i.ibb.co/S6XTYJ3/pinaple.png" alt="pinaple" border="0"></a>
<a href="https://ibb.co/0Qf5gC5"><img src="https://i.ibb.co/nRDpH7p/pinaple-2.png" alt="pinaple-2" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/GcdgdWy/Plum.png" alt="Plum" border="0"></a>
<a href="https://ibb.co/z22TQSh"><img src="https://i.ibb.co/qgg37RM/Pomelo.png" alt="Pomelo" border="0"></a>
<a href="https://ibb.co/FHXfN42"><img src="https://i.ibb.co/GH91BQy/Raspberry.png" alt="Raspberry" border="0"></a>
<a href="https://ibb.co/jRPXpB0"><img src="https://i.ibb.co/bJM9fqw/Strawberry-2.png" alt="Strawberry-2" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/jyHRxPk/Tangerine.png" alt="Tangerine" border="0"></a>
<a href="https://ibb.co/7NGYTdN"><img src="https://i.ibb.co/2YjnL1Y/watermelon.png" alt="watermelon" border="0"></a>
<a href="https://ibb.co/tDC9TvV"><img src="https://i.ibb.co/9WY7k1Q/apple-1.png" alt="apple-1" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/g4CKCLK/Avocado.png" alt="Avocado" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/myVKgGS/banana.png" alt="banana" border="0"></a>
<a href="https://ibb.co/f4V6NKZ"><img src="https://i.ibb.co/BqHW67v/banana-2.png" alt="banana-2" border="0"></a>
<a href="https://ibb.co/3FVzycG"><img src="https://i.ibb.co/NNfS6KQ/blackberry.png" alt="blackberry" border="0"></a>
<a href="https://ibb.co/LQJ7wwD"><img src="https://i.ibb.co/WDPJ99N/Cherry.png" alt="Cherry" border="0"></a>
<a href="https://ibb.co/102kq6f"><img src="https://i.ibb.co/mRz3q8C/Cranberry.png" alt="Cranberry" border="0"></a>
<a href="https://ibb.co/kGJwczF"><img src="https://i.ibb.co/2FSCKRB/Date.png" alt="Date" border="0"></a>
<a href="https://ibb.co/BZ8cDDQ"><img src="https://i.ibb.co/Lt4Ywwc/Dragon-Fruit.png" alt="Dragon-Fruit" border="0"></a>
<a href="https://ibb.co/6wtgynQ"><img src="https://i.ibb.co/W5zgHxC/Elderberry.png" alt="Elderberry" border="0"></a>
<a href="https://ibb.co/BKmdPJW"><img src="https://i.ibb.co/Z13tJr4/Gooseberry.png" alt="Gooseberry" border="0"></a> */